*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #23395B;
    color: white;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    color: white;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0 0 0 0.5);
    font-size: 8vmin;
    color: #B83A3A;

}
.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #161925;
    color: white;
    border-radius: 1rem;
    border: none;
}
.play-again{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #161925;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: white;
    font-size: 8vmin;
}
.hide{
    display: none;
}
.winner{
    margin-top: 250px;
    margin-bottom: 220px;
   
}
#heading{
    margin-top: 50px;
    font-weight: 800;
}